.tmp
tmp
.DS_Store
.vscode
.rollup.cache
.secret-api-key.sh
nohup.out
node_modules
package-lock.json
*.log
dist/*
src/no-ex.less
src/no-ex.svelte
#src/pluginConfig.ts      
#src/global.less        
#src/globalCss.less
makeLinks.sh     
