@import 'utils/infoWin_style_svelte.less';

@name: windy-plugin-da;
@width: 350px;
@bottom: 150px;

#@{name}-info {
    .flex-container {
        height: 100%;

        .plugin__title {
            font-size: 22px !important;

            padding: 5px 0px 10px 5px;
            position: sticky;
            top: 0px;
            margin-bottom: 15px;
            //background-color: #404040aa;
        }
        .scrollable {
            display: flex;
            flex-direction: column;
            box-sizing: border-box;
            position: relative;

            width: 100%;
            padding: 0px 10px;
            overflow-y: scroll;
            overflow-x: hidden;
            flex-grow: 1;

            table {
                margin: 0.3em inherit;
                td:nth-child(1),
                td:nth-child(2) {
                    width: 40px;
                    text-align: left;
                }
            }

            .button {
                margin-top: 4px;
                margin-bottom: 0px;
                border-radius: 5px;
            }

            .sign-row {
                display: flex;
                justify-content: space-evenly;
                gap: 3px;
                max-width: 400px;
                .NSEW {
                    flex: 1;
                    border: 1px solid rgba(255, 255, 255, 0.3);
                    border-radius: 3px;
                    margin: 3px 0;
                    text-align: center;
                    height: 18px;
                    line-height: 16px;
                    background-color: rgba(0, 0, 0, 0.2);
                    cursor: pointer;

                    &.selected {
                        border-color: white;
                    }
                }
            }

            .loc-row {
                display: flex;
                flex-wrap: wrap;
                width: 100%;
                min-width: 100px;
                justify-content: flex-start;
                gap: 3px;
                & > div {
                    flex: 1;
                    div {
                        border: 1px solid white;
                        border-radius: 3px;
                        margin: 3px 0;
                    }
                    display: flex;
                    min-width: 100px;
                    max-width: 200px;

                    .field {
                        flex: 1;
                        width: 20px;
                        background-color: rgba(0, 0, 0, 0.2);
                        color: white;
                        border-radius: 0.25em;
                        border-width: 1px;
                        margin: 2px;
                    }
                }
            }

            .add-scroll-bar();

            [data-ref='choose'] {
                .checkbox {
                    display: block;
                }
            }
            [data-ref='coordsPicker'] {
                padding-top: 5px;
                padding-left: 8px;
            }
            .coordsTable {
                margin-bottom: 5px;
            }

            .toggle-section {
                font-size: 1.2em;
                margin: 0.5em 0;

                &.checkbox {
                    &::before {
                        content: '\25B7\00a0\00a0';
                        top: -0.1em;
                        font-size: 0.8em;
                    }

                    & + * {
                        display: none;
                    }

                    &.off {
                        &::before {
                            content: '\25BD\00a0\00a0';
                            top: -0.1em;
                            font-size: 0.8em;
                        }

                        & + * {
                            display: block;
                        }
                    }
                }
            }
            .section {
                margin: 0.2em 0 0.2em 2em;
            }
        }
    }
}

.embed-window {
    .checkbox::before {
        margin-right: 0px;
    }

    [data-ref='messageDiv'] {
        margin-top: 3px;
        font-size: 0.8em;
    }

    .hidden {
        display: none;
    }
}
