@import 'src/utils/infoWin_style_global.less';
@name: windy-plugin-da;

[data-plugin="rhbottom"].hidden{
    display:none;
}
[data-plugin="rhpane-top"].hidden{
    display:none;
}
#search.hidden{
    display:none;
}